body{
    font-family: Georgia, 'Palatino Linotype', serif
}
/* Container principal do carrossel*/
#courseCarousel {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    background-color: transparent;/*fundo transparente*/
}

/* Área interna do carrossel*/
.carousel-inner {
    background-color: transparent;
    padding: 10px;
}
/*itens do carousel*/
.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    max-width: 650px;
    border-radius: 8px;
    margin: 0 auto;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/*propriedade das imagens*/
.card-body img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgb(126, 21, 94);
}

/* Responsividade */
@media (max-width: 700px) {
    .card {
        max-width: 90%;
    }
}
