body {
    font-family: 'Merriweather', serif;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    padding: 20px;
}

#welcome {
    font-size: 2.2rem; 
}

#frase {
    font-size: 1.6rem; 
    margin-top: 10px; /*margem acima*/
}


#img1 {
    max-height: 500px;
}

#img2 {
    max-height: 400px;
}

#img3 {
    max-height: 450px;
}
